[Unit]
Description=Competishun Script Modifying Server
After=multi-user.target

[Service]
ExecStart=/opt/competishun-server/env/bin/python /opt/competishun-server/script_modifier_server.py

[Install]
WantedBy=multi-user.target